<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Shelf</title>
    <link
      rel="shortcut icon"
      href="https://img.icons8.com/?size=100&id=71733&format=png&color=000000"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    />
  </head>
  <script src="/scripts/script.js"></script>
  <link rel="stylesheet" href="/styles/main.css" />
  <body class="is-family-monospace">
    <nav
      class="navbar mb-5 mx-6 has-navbar-fixed-top"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <p
            class="mt-4 has-text-weight-bold is-italic has-text-centered is-size-3"
          >
            Book Shelf
          </p>
        </a>
      </div>

      <div id="navbarBasicExample" class="buttons mt-3 ml-5 mr-2">
        <div class="navbar-end buttons">
          <a class="button is-primary mx-1" href="/home"> Home </a>
          <a class="button is-warning mx-1" href="/add"> Add </a>
          <a class="button is-danger mx-1" href="/delete">Remove </a>
          <a class="button is-link mx-1" href="/search">Search</a>
        </div>
      </div>
    </nav>
  </body>
</html>
