<%- include("partials/header.ejs") %>
<div class="mt-6 mr-6 ml-6">
  <form action="/searchQuery" class="mt-6 mr-6 ml-6" method="POST">
    <input
      class="input is-rounded is-focused is-large"
      type="text"
      name="isbn"
      autofocus
      placeholder="Enter ISBN"
      autofocus
    />
  </form>
</div>
<%- include("partials/footer.ejs") %>
